<configuration>

    <property name="SERVICE_NAME" value="${SERVICE_NAME:-trade-processor}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

            <!-- Add static fields -->
            <customFields>
                {"service":"${SERVICE_NAME}","env":"dev"}
            </customFields>

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>